<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Mini Journal{% endblock %}</title>
  <link rel="stylesheet" href="/assets/style.css">
  {% block head_extra %}{% endblock %}
</head>
<body>

  <header>
    <div class="container">
      <nav class="site-nav">
        <div class="nav-group nav-primary">
          <a href="{{ url_for('journal.index') }}">Home</a>
          <a href="{{ url_for('journal.entries_list') }}">Entries</a>
          <a href="{{ url_for('journal.new_entry') }}">New Entry</a>
        </div>

        <div class="nav-group nav-auth">
          {% if current_user.is_authenticated %}
            <form class="nav-action-form" action="{{ url_for('users.logout') }}" method="post">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <button class="nav-action nav-action-logout" type="submit">Log out</button>
            </form>
          {% else %}
            <a class="nav-action nav-action-login" href="{{ url_for('users.get_login') }}">Log in</a>
            <a class="nav-action nav-action-register" href="{{ url_for('users.get_register') }}">Register</a>
          {% endif %}
        </div>
      </nav>
    </div>
  </header>

  <main>
    <div class="container">
      {% block body %}{% endblock %}
    </div>
  </main>

  <footer>
    <div class="container">
      <p>Tell me your thoughts!</p>
    </div>
  </footer>

  {% block scripts %}{% endblock %}

</body>
</html>
